/*All HTML*/
.body-content {
  font-family: 'Libre Franklin', sans-serif;
}

/*Main header container*/
.header-box {
  background-color: grey;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
/*Resume download header*/
.resume-box-header {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  background-color: black;
  color: white;
}
/*Resume download container*/
.resume-box {
}
/*Projects header*/
.projects-box-header {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  background-color: black;
  color: white;
}
/*Projects container*/
.projects-box {
  margin-bottom: 20px;
}
/*List of projects title*/
.project-title {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  background-color: black;
  color: white;
}
/*Project description box*/
.project-desc {
  font-size: 20px;
  margin-bottom: 30px;
}
/*Main container for tic-tac-toe interactive*/
.tic-tac-toe-container {
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  /*align-items: center;*/
}
/*tic-tac-toe board graphic*/
.tic-tac-toe-board {
  width: 30%;
  min-width: 379.188px;
  height: 30%;
  min-height: 349.344px;
  display: block;
  margin: auto;
}
.board-button-container {
  width: 379.188px;
  min-width: 379.188px;
  height: 349.344px;
  min-height: 349.344px;
  display: block;
  border: 2px solid black;
  background-image: url("../images/tic-tac-toe");
  background-repeat: no-repeat;
  background-size: 379.188px 349.344px;
  margin: auto;
  margin-bottom: 30px;
}
/*tic-tac-toe options 1-9*/
.tic-tac-toe-element-1 {
  width: 110px;
  height: 110px;
  position: relative;   top: 27px;   left: 57px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-1-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 50px;   left: 57px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-2 {
  width: 110px;
  height: 110px;
  position: relative;   top: 27px;   left: 172px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}

.tic-tac-toe-element-2-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 50px;   left: 172px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}

.tic-tac-toe-element-3 {
  width: 110px;
  height: 110px;
  position: relative;   top: 27px;   left: 287px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-3-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 50px;   left: 287px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-4 {
  width: 110px;
  height: 110px;
  position: relative;   top: 145px;   left: 17px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-4-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 168px;   left: 17px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-5 {
  width: 110px;
  height: 110px;
  position: relative;   top: 145px;   left: 134px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-5-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 168px;   left: 134px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-6 {
  width: 110px;
  height: 110px;
  position: relative;   top: 145px;   left: 247px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-6-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 168px;   left: 247px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-7 {
  width: 110px;
  height: 110px;
  position: relative;   top: 261px;   left: -21px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-7-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 284px;   left: -21px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-8 {
  width: 110px;
  height: 110px;
  position: relative;   top: 261px;   left: 95px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-8-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 284px;   left: 95px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.tic-tac-toe-element-9 {
  width: 110px;
  height: 110px;
  position: relative;   top: 261px;   left: 208px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}

.tic-tac-toe-element-9-adjusted {
  width: 110px;
  height: 110px;
  position: relative;   top: 284px;   left: 208px;
  margin: -50px;
  background-color: white;
  border: none;
  outline: 0;
  white-space: pre-line;
  font-size: 120%;
  text-align: center;
}
.hidden {
    display: none;
}
.tic-tac-toe-options1 {
  width: 110px;
  height: 110px;
  position: relative;   top: -328px;   left: 59px;
  margin: -50px;
  background-color: black;
}

.tic-tac-toe-options2 {
  width: 110px;
  height: 110px;
  position: relative;   top: -328px;   left: 188px;
  margin: -50px;
  background-color: black
}
.tic-tac-toe-options3 {
  width: 110px;
  height: 110px;
  position: relative;   top: -328px;   left: 316px;
  margin: -50px;
  background-color: black
}
.tic-tac-toe-options4 {
  width: 110px;
  height: 110px;
  position: relative;   top: -210px;   left: 60px;
  margin: -50px;
  background-color: black
}
.tic-tac-toe-options5 {
  width: 110px;
  height: 110px;
  position: relative;   top: -210px;   left: 189px;
  margin: -50px;
  background-color: black
}
.tic-tac-toe-options6 {
  width: 110px;
  height: 110px;
  position: relative;   top: -210px;   left: 316px;
  margin: -50px;
  background-color: black
}
.tic-tac-toe-options7 {
  width: 110px;
  height: 110px;
  position: relative;   top: -94px;   left: 60px;
  margin: -50px;
  background-color: black;
}
.tic-tac-toe-options8 {
  width: 110px;
  height: 110px;
  position: relative;   top: -94px;   left: 191px;
  margin: -50px;
  background-color: black;
}
.tic-tac-toe-options9 {
  width: 110px;
  height: 110px;
  position: relative;   top: -94px;   left: 317px;
  margin: -50px;
  background-color: black;
}

.option-selector-desc {
  display: block;
  margin: auto;
  color: white;
  text-align: center;
}

.tic-tac-toe-option-selector-1 {
  display: block;
  margin: auto;
  width: 60px;
  padding: 5px;
  margin-top: 5px;
}

.entry {
  display: block;
  font-size: 120%;
  margin-top: 20px;
}

.tic-tac-toe-current-val-1 {
  width: 115px;
  height: 115px;
  position: absolute;
  top: 0px;
  left: 450px;
  background-color: Transparent;
  z-index: -1;
}

.func-button {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px;
  display: block;
  min-width: 200px;
  width: 14em;  height: 2em;
  align-self: center;
}

.board-container {
  display: inline-block;
  margin-bottom: 50px;
  margin: auto;
}

.button-container {
  display: inline-block;
  border: solid 2px black;
  width: 380px;
  margin-bottom: 50px;
  justify-content: center;
}

.button-container-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  padding: 20px;
}

.results-header {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 15px;
}

#winner {
  margin-bottom: 15px;
}

#xPossibilities {
  margin-bottom: 15px;
}

#oPossibilities {
  margin-bottom: 15px;
}
